*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea/

gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat

*.jks
*.keystore
GeneratedPluginRegistrant.java

app/release